html{
    min-height: 100%;
    max-width: 100%;

    padding: 0;
    margin: 0;
    background-color: #000;

    body {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 0;
        text-align: center;

    }
}
